// ==========================================================================
// Footer Styles
// ==========================================================================

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $color-secondary;
  color: $color-light;

  	p {
  		padding-top: 20px;
  		color: $color-light;

  		a {
  			color: $color-light;

  			&:hover {
	  			color: $color-primary;
	  			text-decoration: none;
  			}
  		}
  	}
}

